{% extends 'admin/base.html.twig' %}

{% set agenciesLink = orgPath('users', data.organization.id) %}

{% block body_class %}recording recording--create{% endblock %}

{% block page_header_title %}Organization Management - Create an Organization{% endblock %}

{% block page_title %}
    <a href="{{ path('admin') }}">Administration</a>
    {% if sessionUser.hasRole("ROLE_SUPERADMIN") %}
        &gt; <a href="{{ path('admin.organizations') }}">Organizations</a>
    {% endif %}
    &gt; <a href="{{ orgPath('overview', data.organization.id) }}">{{ data.organization.name }}</a>
    &gt; <a href="{{ agenciesLink }}">Agencies</a>
    &gt; New Agency
{% endblock %}

{% block page_content %}
    <form class="single-item" method="post" action="{{ orgPath('agency.create', data.organization.id) }}">

        <label class="input-label" for="agency-name">Name</label>
        {% if meta.name is defined %}
            <span class="input-error">{{ meta.name }}</span>
        {% endif %}
        <input id="agency-name" type="text" name="name" value="{{ data.agency.name }}" placeholder="" />

        <label class="input-label" for="agency-datasiftUsername">DataSift Username</label>
        {% if meta.datasiftUsername is defined %}
            <span class="input-error">{{ meta.datasiftUsername }}</span>
        {% endif %}
        <input id="user-datasiftUsername" type="text" name="datasiftUsername" value="{{ data.agency.datasiftUsername }}" placeholder="DataSift Username" />

        <label class="input-label" for="agency-datasiftApikey">DataSift API Key</label>
        {% if meta.datasiftApikey is defined %}
            <span class="input-error">{{ meta.datasiftApikey }}</span>
        {% endif %}
        <input id="user-datasiftApikey" type="text" name="datasiftApikey" value="{{ data.agency.datasiftApikey }}" placeholder="DataSift API Key" />

        {# Footer #}
        <hr class="divider">
        <div class="single-item__header">
            <a href="{{ agenciesLink }}">Cancel</a>
            <div class="single-item__actions">
                <button class="single-item__action single-item__action--create" type="submit" data-spinner>Create</button>
            </div>
        </div>
    </form>
{% endblock %}
