{% extends 'admin/base.html.twig' %}

{% set usersLink = orgPath('users', data.organization.id) %}

{% block body_class %}recording recording--create{% endblock %}

{% block page_header_title %}Organization Management - Create an Organization{% endblock %}

{% block page_title %}
    <a href="{{ path('admin') }}">Administration</a>
    {% if sessionUser.hasRole("ROLE_SUPERADMIN") %}
        &gt; <a href="{{ path('admin.organizations') }}">Organizations</a>
    {% endif %}
    &gt; <a href="{{ orgPath('overview', data.organization.id) }}">{{ data.organization.name }}</a>
    &gt; <a href="{{ usersLink }}">Users</a>
    &gt; New User
{% endblock %}

{% block page_content %}
    <form class="single-item" method="post" action="{{ orgPath('user.create', data.organization.id) }}">

        {% if data.account_limit_reached %}
            <div class="notification notification-warning">
                Cannot create more users, account limit reached.
            </div>
        {% endif %}

        <label class="input-label" for="user-username">Username</label>
        {% if meta.username is defined %}
            <span class="input-error">{{ meta.username }}</span>
        {% endif %}
        <input id="user-username" type="text" name="username" value="{{ data.user.username }}" placeholder="" />

        <label class="input-label" for="user-email">Email address</label>
        {% if meta.email is defined %}
            <span class="input-error">{{ meta.email }}</span>
        {% endif %}
        <input id="user-email" type="email" name="email" value="{{ data.user.email }}" placeholder="Email address" />

        <label class="input-label" for="user-password">Password</label>
        {% if meta.password is defined %}
            <span class="input-error">{{ meta.password }}</span>
        {% endif %}
        <input id="user-password" type="password" name="password" value="{{ data.user.password }}" placeholder="Password" />

        <label class="input-label" for="user-confirm-password">Confirm Password</label>
        {% if meta.confirm_password is defined %}
            <span class="input-error">{{ meta.confirm_password }}</span>
        {% endif %}
        <input id="user-confirm-password" type="password" name="confirm_password" value="" placeholder="Confirm password" />
        <div class="radio-list">
            <input id="user-permissions-none" type="radio" name="permissions" value="none"{% if (not data.user.isAdmin and not data.user.isSuperAdmin) or data.user.permissions == "none" %} checked="checked"{% endif %} /><label for="user-permissions-none">Normal</label>
            <input id="user-permissions-admin" type="radio" name="permissions" value="admin"{% if (data.user.isAdmin and not data.user.isSuperAdmin) or data.user.permissions == "admin" %} checked="checked"{% endif %} /><label for="user-permissions-admin">Admin</label>
            {% if sessionUser.isSuperAdmin %}
            <input id="user-permissions-superadmin" type="radio" name="permissions" value="superadmin"{% if data.user.isSuperAdmin or data.user.permissions == "none" %} checked="checked"{% endif %} /><label for="user-permissions-superadmin">Superadmin</label>
            {% endif %}
        </div>
        {# Footer #}
        <hr class="divider">
        <div class="single-item__header">
            <a href="{{ usersLink }}">Cancel</a>
            <div class="single-item__actions">
                <button class="single-item__action single-item__action--create" type="submit" data-spinner>Create</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascript_additional %}
    data-main="{{ cs_build_location }}/javascript/brand"
{% endblock %}